<%- include('./partials/header.ejs'); %>
<body>
    <%- include('./partials/navbar.ejs'); %>
    <h2>Welcome from Employees Display page</h2>
    <%= %>
        <table class="table table-striped table-primary">
            <tr>
                <th>Employee ID</th>
                <th>Employee Name</th>
                <th>Contact</th>
                <th>Salary</th>
                <th>Email</th>
                <th>Joing Date</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>

            <% for (let i = 0; i < emps.length; i++) {%>
            <tr>
                <td><%= emps[i]._id%> </td>
                <td><%= emps[i].name %> </td>
                <td><%= emps[i].contact %> </td>
                <td><%= emps[i].salary %> </td>
                <td><%= emps[i].email %> </td>
                <td><%= emps[i].joiningDate %> </td>

                <td><a href="/edit/<%= emps[i].email %>" class="btn btn-primary" role="button">Edit</button></td>
                <td><a href="/delete/<%= emps[i].email %>" class="btn btn-primary" role="button">Delete</button></td>
            </tr>
            <% } %>
        </table>
</body>

</html>