<%- include('./partials/header.ejs'); %>
<body>
    <%- include('./partials/navbar.ejs'); %>
    <h2>Welcome from A Single Employee Record Page.</h2>
    <form action="#">
        <div class="mb-3">
            <label for="ename" class="form-label">Employee Name</label>
            <input type="text" class="form-control" id="ename" name="e_name" value="<%= emp.name %>" disabled>
        </div>

        <div class="mb-3">
            <label for="econ" class="form-label">Contact</label>
            <input type="text" class="form-control" id="econ" name="e_con" value="<%= emp.contact %>">
        </div>

        <div class="mb-3">
            <label for="esalary" class="form-label">Salary</label>
            <input type="text" class="form-control" id="esalary" name="e_salary" value="<%= emp.salary %>">
        </div>


        <div class="mb-3">
            <label for="eemail" class="form-label">Email</label>
            <input type="text" class="form-control" id="eemail" name="e_email" value="<%= emp.email %>">
        </div>


        <div class="mb-3">
            <label for="ejdate" class="form-label">Joining Date</label>
            <input type="date" class="form-control" id="ejdate" name="e_jdate" value="<%= emp.joiningDate %>">
        </div>
    </form>
</body>
</html>